@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800&display=swap');
@import '../../node_modules//react-datez/dist/css/react-datez.css';

html{
  font-family: 'Nunito Sans', sans-serif;
}
body{
  font-family: 'Nunito Sans', sans-serif;
}

#navbarSupportedContent{
  float:right !important;
  margin-top: 10px;
  position: absolute;
  right: 26px;
  background-color: #fff !important;

}
.navbar-light{
  background-color: #fff !important;
}
.logo{
  width: 100px;
  height: 100px;
  

}
#subMenu{
  z-index: 1;
    position: absolute;
    right: 0;
    top: -41px;
    font-size: 15px;
    color: #1a1a1a !important;
}
.main_menu{
  font-size: 15px;
}
.menuItem{
  font-size: 15px;
  color: #1a1a1a !important;
}
.booknow_button{
  background-color: #33383c;
  color: #fff;
  border-width: 0px;
  align-items: center;
  justify-content: center;
  /* font-style: e */
  font-family: 'Nunito Sans:200',sans-serif;
  /* margin-top:4px; */
  height: 30px;


  
}
.navbar{
  margin-left: 5%;
  margin-right: 5%;
}
.lang_logo{
  width: 18px;
  margin-top: -3px;
  margin-right: 2px;  


}
figure{
  width:100%; /*container-width*/
  overflow:hidden; /*hide bounds of image */
  margin:0;   /*reset margin of figure tag*/
}
figure img{
  display:block; /*remove inline-block spaces*/
  width:100%; /*make image streatch*/
}
figure img{
  /*add to other styles*/
  margin:-14.875% 0;
}
#booking_form{
  background-color: #fff;
  z-index: 1;
  margin-top:-80px;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.41);
-moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.41);
box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.41);
display: flex;
flex-direction: row;
justify-content: center;

  
}
.booking-colomn{
  background-color: #fff;
  align-items: center;
  display: flex;
    /* justify-content: center; */
  /* margin-top: 20px; */
}
.form-group{
  padding-top: 20px;
  
}
.form-control-leva{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 0px;
    background-color: #eeeeee;
    width: 127%;
}
.main_container{
  width: 100%;
  background: #fff;
  z-index: 1;
}
.booknow_action_button{
  background-color: #33383c;
  border-radius: 0px;
  border-color: #33383c;
  margin-top:25px;
}
.room_input{
  background-color: #eeeeee;
  /* border-radius: 0px; */
  /* border-color: #33383c */
  border-radius: 0px;
  border-width: 0px;
  color: #191516;
  width: 150%;
  text-align: left;
}
#hot-deals{
  padding-top: 80px;
  background-color: #f5f5f5;
  margin-left: 9%;
  margin-right:9%;
  padding-bottom: 80px;

}
.hotdeals{
  width: 350px;
  /* width:100%; */
  margin-top:10px;
  margin-left: 10px;
  
}
.banner-image-hotdeals{
  padding-bottom: 60%
}
.cover-section-hotdeals{
  border-width: 4px;
  border-style: solid;
  width: 350px;
  margin-bottom: 12%;
}
.container-hotdeals{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:3%;
  margin-right:3%;
}
.banner-image-hotdeals{

}
.service-heading{
  font-size:18px;
}
#stay{
  background-color: #b5ced5;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 120px;
}
.stay-thumbnil{
  width: 90%;
}
.caption-stay{
  background-color:#d8cfc8;
  position: absolute;
  bottom:0px;
  left: 15px; 
  width: 86.3%;
  padding: 5px;
  opacity: 0.8  ;
}
.caption-price{
  background-color:#e3dad3;
  position: absolute;
  top:30px;
  left:30px; 
  width: 20%;
  padding: 5px;
  opacity: 0.8  ;
align-items: center;
}
.stay-thumbnil-2{
  width: 90%;
}
.price-2{
  font-size: 12px;
}
.caption-stay-2{
  background-color:#d8cfc8;
  position: absolute;
  bottom:0px;
  left: 15px; 
  width: 82.5%;
  padding: 5px;
  opacity: 0.8  ;
}
.explore_more{
  position: absolute;
  right: 10px;
  margin-left:10%;
  margin-right:10%;
  margin-top:25px;
}
#fineDine{
  padding-top: 80px;
  padding-bottom: 80px;
}
.line{
  background-color: #31383e;
  width: 110px;
  height: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.banner-image-finedine{
  /* width: 80%; */
  width: 100%;
}
.finedine{
  width: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
}
.finedine-text-heading{
  font-size: 38px;
}
.findine-row{
  padding-bottom: 362px;
}
.about-extra{
  margin-top: 3%;
  margin-left: 10%;
  margin-right:10%;
}
.text-fine-dine{
  margin-top: 50px;
}
.img-holder{
 
  overflow: hidden;
}
.img-holder img {
  
  /* margin: -75px 0 0 -100px; */
  margin-top:-70px;
  margin-bottom: -300px;
}

.caption-box-guest{
  z-index: 1;
  position: absolute;
  top:25%;
  left: 12%;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #33383c;

}

.star-icon{
  width: 20px;
  height: 20px;;
}

.guest-container-review{
  margin-left:10%;
  margin-right:10%;
  padding-top: 80px;
}
.caption-guest-2{
  font-size: 28px;
  font-weight: 300;
  
}

.caption-long-guest-2 {
  margin-top: 30px;
  width: 70%;
}
.user-image{
  width: 40px;
  height:40px;
  border-radius: 40px;
  position: absolute;
  right:0px
}

subtitle{
  color: #1f1f1f;
  font-size: 14px;
  font-weight: 100;
  margin-top:-10px;
}

.instagram-logo{
  width: 350px;
  margin-bottom: 15px;
  /* float:right; */
}

.live-feed-image{
  margin-bottom: 20px;
  max-width: 350px;
  margin-left: -15px;
  
  overflow: hidden;
}
.info-box-livefeed{
  background-color: #33383c;
  height: 220px;
  width: 350px;
  max-width: 305px;
  /* margin-top:2%; */
  margin-bottom: 15px;

}
.follow-us-text{
  color:#b5ced5;
  font-size: 48px;
  margin-bottom: -10px;
  font-weight:800;
  text-align: left;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
 
}
.vist-us-icon p{
  color:#b5ced5;
  font-weight:100;
  font-size: 15px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: -10px;
}
.social-media-icons{
  color:#fff;
  margin-left: 5px;
}
.footer{
  background-color: #33383c;
  height: 280px;
  margin-top: -5%;
}
.line-separator{
  background-color: #fbffff;
  height: 2px;
  margin-top: 28px;
  /* height: 10px; */
}
.menu-footer{
  /* text-align: center; */
  margin-top:15px;
  margin-left:50  px;
}
.menu-footer p {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: -2px;
  text-align: left;
}

.stay-with-us-container{
 color: #fff;
 
}

stay-with-us-container p {
  color: #fff;
  float: right;
}

.contact-us-footer{
  /* line-height: 1; */
}
.navbar-nav > li {
  float: left;
  position: relative;
}
.navbar-nav .active a::after {
  border-bottom: 5px solid #33383b;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}

.nav-link{
  color:#000;
}
.navbar-nav a:hover{
  color:rgba(0,0,0,.5);
}